body {
    background-color: hsl(218, 28%, 13%);
    font-family: Open Sans;
    color:  hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    height: auto;
    
}
.navbar {
   display: flex;
   position: sticky;
   z-index: 999;
    background-color: hsl(218, 28%, 13%);
    font-family: raleway;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   top: 0;
   margin: 10px;
  
 }
 .navbar__container {
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
    
 }
 .navbar__logo {
     color: #fff;
     font-weight: bold;
     font-size: 1.5rem;
     text-decoration: none;
     display: flex;
     align-items: center;
     float: left;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  
    float: right;
}
.navbar__item {
    font-size: 15px;
}
.navbar__links {
    color: #fff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
}
.navbar__links:hover {
    text-decoration: underline;
}

  
@media only screen and (max-width: 600px) {
    .navbar__container {
        padding: 0;
        
    }
  }
.header {
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    display: grid;
    font-family: Open Sans;
    text-align: center;
    
}
.header__image {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 20%
    
   

}
.header__head {
    text-align: center;
    font-weight: bold;
    align-items: center;
}
.header__text {
    text-align: center;
    align-items: center;
}

.header__btn {
    background-color: hsl(198, 60%, 50%);
    color: #fff;
    border-radius: 30px;
    width: 250px;
    padding: 15px;
    font-family: Open Sans;
    align-items: center;
    outline: none;
    justify-content: center;
    position: relative;
   margin-left: 420px;
}
 .header__btn:hover {
    background-color:  hsl(176, 68%, 64%);
} 
@media only screen and (max-width: 600px) {
    .header {
        width: 100%;
        height: auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
    }
    .header__image {
        width: 405px;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        
    }
    .header__head {
        width: 405px;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 8%;
    }
    .header__btn {
        
        margin-left: 6%;
    }
    
  }

.main {
    margin-left: 230px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: center;
    border: 2px none;
    padding: 20px;
    position: relative;
    
}
.main1 {
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    float: left;
    margin: 30px;
    border: 2px solid hsl(218, 28%, 13%);
    width: 350px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    
}

.main2 {
    
    border: 2px solid hsl(218, 28%, 13%);
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    float: right;
    padding: 20px;
    width: 450px;
    height: 100px;
    margin-left:  450px;
    
    

}
.mains {
    margin-left: 210px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: center;
    border: 2px none;
    padding: 20px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}
.main3 {
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    float: left;
    margin: 30px;
    border: 2px solid hsl(218, 28%, 13%);
    width: 350px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    
}

.main4 {
    
    border: 2px solid hsl(218, 28%, 13%);
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    float: right;
    padding: 20px;
    width: 450px;
    height: 100px;
    margin-left:  450px;
    
    

}

.main__header {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.main__text {
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .main {
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
        margin: 0 0 300px 0;
        position: relative;
        height: auto;
    }
    .main1 {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 0;
        position: relative;
        
    }
    .main2 {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 300px;
        
    }
    .mains {
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
        margin: 540px 0;
        position: relative;
        height: auto;
    }
    .main3 {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 0;
        position: relative;
        
    }
    .main4 {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 300px;
        
    }
}



.footer1 {
    display: flex;
    flex-direction: center;
    position: relative;
    margin-top: 220px;
    padding: 30px;

}
.footer__image {
    display: flex;
    position: absolute;
    float: left;
    
}
.footer1__texts {
    float: right;
    margin-left: 50%;
    width: 450px;
    padding: 20px;
    margin-top: 60px;
}
.footer1__heading {
    text-align: left;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}
.footer1__text1 {
    margin-top: 5px;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.footer2__text2 {
    margin-top: 5px;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.footer1__link {
    color: hsl(176, 68%, 64%);
    font-weight: lighter;
}
.footer1__link:hover    {
    color: #fff;

}
.app:hover {
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
        height: auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
        text-align: center;
        margin: 780px 0;
        
    }
    .footer__image {
        width: 405px;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-top: 200px;
     }
     .footer1__texts {
         margin: 500px 0 0 0;
         width: 100%;
         height: auto;
         text-align: left;
         align-items: center;
         justify-content: center;
     }
}
.review {
    position: relative;
    margin-top: 120px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.quotes {
    display: flex;
    position: relative;
    margin-bottom: 50px;
}
.review1 {
    background-color: hsl(219, 30%, 18%);
    border: 2px solid hsl(218, 28%, 13%);
    
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: auto;
    padding: 30px;
    margin-left: 70px;
    margin-top: 60px;
    float: left;
}
.review2 {
    background-color: hsl(219, 30%, 18%);
    border: 2px solid hsl(218, 28%, 13%);
    
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: auto;
    padding: 30px;
    margin-left: 460px;
    margin-top: 60px;
    float: right;
}
.review3 {
    background-color: hsl(219, 30%, 18%);
    border: 2px solid hsl(218, 28%, 13%);
    
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: auto;
    padding: 30px;
    margin-left: 848px;
    margin-top: 60px;
}
.comment {
    text-align: left;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.profile__pic {
    border: round;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    display: flex;
}
.username {
    text-align: left;
    font-size: 10px;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 0;
}
.user__status {
    text-align: left;
    font-size: 10px;
    color: #fff;
    margin-left: 30px;
    margin-top: 0;
}
@media only screen and (max-width: 600px) {
    .review {
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
        margin: 0;
        position: relative;
        height: auto;
    }
    .quotes {
        margin-left: 10px;
        margin-bottom: 0;
    }
    .review1 {
         align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
    }
    .review2 {
        align-items: center;
       text-align: center;
       justify-content: center;
       
       margin-top: 340px;
       margin-bottom: 30px;
       margin-left: 70px;
   }
   .review3 {
    align-items: center;
   text-align: center;
   justify-content: center;
  margin-top: 620px;
   margin-bottom: 350px;
   margin-left: 70px;
   height: auto;
    }
}
.dialogue {
    background-color: hsl(217, 28%, 15%);
    border: 2px solid hsl(218, 28%, 13%);
    padding: 35px;
    z-index: 999;
    position: relative;
    margin-top: 250px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.dialogue__heading {
    font-weight: bold;
    text-align: center;
    
}
.dialogue__text {
    text-align: center;
}
.signup {
    border-radius: 30px;
    height: 30px;
    width: 320px;
    padding: 7px 15px;
    
}
.signup::placeholder {
    font-size: 14px;
}

.signup__btn {
    background-color: hsl(198, 60%, 50%);
    color: #fff;
    border-radius: 30px;
    margin-top: 45px;
    width: 200px;
    padding: 15px;
    font-family: Open Sans;
    align-items: center;
    outline: none;
    justify-content: center;
    
}
 .signup__btn:hover {
    background-color:  hsl(176, 68%, 64%);
} 
.error {
    display: none;
}
input:invalid ~ .error {
    
    text-align: left;
    margin-top: 5px;
    margin-left: 80px;
    font-size: 12px;
    color: hsl(0, 100%, 63%);
}



@media only screen and (max-width: 600px) {
    .dialogue {
        margin-top: 900px;
        margin-left: 8%;
        margin-right: 8%;
        height: auto;
       
    }
    .signup__btn {
        margin-top: 0;
    border-radius: 30px;
     height: auto;
     width: 320px;
     padding: 15px, 15px, 15px, 15px;
   
     
    }
}

.footer {
    display: flex;
    flex-direction: center;
    background-color: hsl(216, 53%, 9%);
    border: 2px solid hsl(216, 53%, 9%);
    height: auto;
    padding: 20px 70px 20px 70px;
    margin-top: -50px;

}

.footer__logo {
    color: #fff;
    font-weight: bold;
    font-size: 2.0rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    
}

.location__link {
    margin-top: 125px;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 350px;
    color: #fff;
    text-decoration: none;
    margin-left: 185px;
}
.contact {
    margin-top: 125px;
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    align-items: center;
    
}
.contact_link {
    color: #fff;
    text-decoration: none;
    text-align: left;
    align-items: center;
    justify-content: center;
    
}
.contact__text {
    color: #fff;
    text-decoration: none;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.about {
    margin-top: 125px;
    margin-left: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.about__links {
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    
}
.footer__links {
    margin-top: 125px;
    margin-left: 35px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer__link {
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    
}
.footer__link:hover {
    color:hsl(176, 68%, 64%);
}
 .about__links:hover {
    color:hsl(176, 68%, 64%);
}
.social__icons {
    margin-top: 125px;
    margin-left: 40px;
}
.social__links {
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social__links:hover {
    fill: hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
    width: 110%;
}

@media only screen and (max-width: 600px) {
    .footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: auto;
   
 }
 .footer__logo {
     position: relative;
     margin-top: 105px;
     margin-left: -290px;
     color: #fff;

 }
    .location__link {
       margin-top: 30px;
       margin-left: -110px;
       text-align: left;
       align-items: center;
    }
    .locations {
        margin-left: 6%;
    }
    .contact {
        margin-top: 30px;
        margin-left: -255px;
    }
    .about {
        margin-top: 30px;
        margin-left: -360px;
    }
    .footer__links {
        margin-top: 30px;
        margin-left: -375px;
    }
    .social__icons {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    .social__links {
        margin-right: 20px;
    }
}