@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Mr+Dafoe&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
    #mobile-menu.is-active .bar:nth-child(1) {
     transform: translateY(12px) rotate(45deg);
     } 
    #mobile-menu.is-active .bar:nth-child(3) {
     transform: translateY(-12px) rotate(-45deg);
     } 